*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #222; */
    overflow: hidden;
}
h1{
    text-align: center;
    color: black;
    margin-top: 50px;

}
#container{
    background-color: black;
    border: 2px solid white;
    height:300px;
    width: 50%;
    margin: 30px auto;
    text-align: center;
    border-radius: 10px;
}
#container:before{
    content: '';
    position: absolute;
    background-color: hotpink;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}
#container:after{
    content: '';
    position: absolute;
    background-color: hotpink;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -2;
    filter: blur(50px);
    margin: 20px;
}
#container:before, #container:after{
    background: linear-gradient(360deg, #f40552,#fc7e2f,
     #c3edea);
}
#result{
    color: white;
    font-size: 25px;
    margin: 30px auto;
    font-weight: bold;
    
}
#btn{
    margin: 50px auto;
    height: 50px;
    width: 150px;
    border-radius: 6px;
    background-color: rgb(233, 118, 10);
    color: white;
    font-size: 22px;
}

#footer{
    color: white;
    text-align: center;
    padding-top: 100px;

}
@media only screen 
  and (max-device-width: 600px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
    #container{
        width: 100%;
        height: 300px;
    }
    #result{
        margin-top: 25px;
    }
    footer{
        padding-bottom: 50px;
    }
}


